.navbar
  .navbar-inner
    .left
      a(href="#").back.link
        i.icon.icon-back
        span Back
    .center.sliding Profile AKAKOM
    .right
      a(href="#", data-panel="left").link.open-panel.icon-only
        i.icon.icon-bars
.pages
  .page(data-page="profile")
    .page-content
      .content-block
